<h1>Profile Page</h1>
<div>
  <p><%= current_user.first_name %></p>
  <p><%= current_user.last_name %></p>
  <p><%= current_user.email %></p>
  <p><%= current_user.phone_number %></p>
</div>
<h3>Emergency Contacts</h3>
<%= @current_user.contacts.each do |contact| %>
<p><%= contact.first_name %> - <%= contact.last_name %> - <%= contact.phone_number %> - <%= contact.email %> </p>
<%= end %>
