  <div class="row" id="checkins">
    <h1>Find Your Loved Ones</h1>
  </div>

  <div class="container">
    <div class="row" style="text-align:center">
      <div class="col-md-8 col-md-offset-2">
        <br>
        <div class="row">
          <br>
          <h3 class="tittle two">Checkin Center</h3>
        </div>
        <br>
        <br>
        <p>Check-in after a disaster, search for missing persons, and connect with those you love.</p>
        <br>
        <br>
        <!-- Checkins -->
        <br>
        <div class="centered">
          <a class="btn btn-default" data-toggle="modal" data-target="#checkin-modal" id="checkin-button">New Checkin</a>
        </div>
        <div class="modal fade" id="checkin-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <%= render "checkinform" %>
              </div>
            </div>
          </div>
        </div>
        <br><br>
       <div class="table-responsive table-hover">        
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Posted by</th>
                <th>Name</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
          <% @checkins.each do |checkin| %>
          <td><%= checkin.user.first_name %>-<%= checkin.user.last_name %></td>
          <td><p><%= checkin.first_name %></p></td>
          <td><p><%= checkin.last_name %></p></td>
          <td><%= checkin.status %>
            </td>
             </tr>
            </tbody>
          <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>

  
          

      
             
  





  





